html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  min-width: 100%;
  background-image: url('https://hellholeseating.blob.core.windows.net/seatingarrangements/peter_griffin.jpg');
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: bottom 40px center;
}

body {
  margin-bottom: 400px;
  
}
