html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 70%;
  min-width: 70%;
  background-image: url('https://hellholeseating.blob.core.windows.net/seatingarrangements/peter_griffin.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom 2px center;
}

body {
  margin-bottom: 60px;
  
}
