@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}
@{
    var Hellhole = "";
    var GoodPlace = "";
    var MediumPlace = "";
    var BadPlace = "";
    
    
    
    var startDate = DateTime.Parse("21/03/2023").Date;
    var currentDate = DateTime.Today.Date;
    var totalDays = (currentDate - startDate).Days;
    var rem;
    
    var rem = 1;
    
    if (rem == 0)
    {
        Hellhole = "Gus";
        GoodPlace = "Terry";
        MediumPlace = "Maggie";
        BadPlace = "Nard &#128058;";
    }
    else if (rem == 1)
    {
        Hellhole = "Nard &#128058;";
        GoodPlace = "Gus";
        MediumPlace = "Terry";
        BadPlace = "Maggie";
    }
    else if (rem == 2)
    {
        Hellhole = "Maggie";
        GoodPlace = "Nard &#128058;";
        MediumPlace = "Gus";
        BadPlace = "Terry";
    }
    else if (rem == 3)
    {
        Hellhole = "Terry";
        GoodPlace = "Maggie";
        MediumPlace = "Nard &#128058;";
        BadPlace = "Gus";
    }
}

<div class="text-center">
    <h1 class="display-4">Seating Arrangements</h1>
    <p>Watch <a href="https://youtu.be/VWvz7xicMnY?si=tak0Lo4L0aSPVaEm">Michael rowed the boat ashore</a>.</p>
    <hr />
    <div>Host operating system: @Model.OSVersion</div>
</div>
