@page
@model IndexModel
@{    
    ViewData["Title"] = "Barry the Bear";
}
@{
    var Hellhole = "";
    var GoodPlace = "";
    var MediumPlace = "";
    var BadPlace = "";
    
    
    
    var startDate = DateTime.Parse("03/21/2023").Date;
    var currentDate = DateTime.Today.Date;
    var totalDays = (currentDate - startDate).Days;

    var rem = 0;
    Math.DivRem(totalDays, 4, out rem);
    
    if (rem == 0)
    {
        Hellhole = "Gus";
        GoodPlace = "Terry";
        MediumPlace = "Maggie";
        BadPlace = "Nard";
    }
    else if (rem == 1)
    {
        Hellhole = "Nard";
        GoodPlace = "Gus";
        MediumPlace = "Terry";
        BadPlace = "Maggie";
    }
    else if (rem == 2)
    {
        Hellhole = "Maggie";
        GoodPlace = "Nard";
        MediumPlace = "Gus";
        BadPlace = "Terry";
    }
    else if (rem == 3)
    {
        Hellhole = "Terry";
        GoodPlace = "Maggie";
        MediumPlace = "Nard";
        BadPlace = "Gus";
    }
}

<div class="text-center">
    <h1 class="display-4">Seating Arrangements</h1>
    <p style="color:#58F908;font-size:200%;text-align:center;font-family:verdana;">@{DateTime.Today.ToLongDateString()}</p>
    <p>Watch <a href="https://youtu.be/VWvz7xicMnY?si=tak0Lo4L0aSPVaEm">Michael rowed the boat ashore</a>.</p>
    <hr />
    <div style="color:#08BBF9;font-size:300%;text-align:center;font-family:verdana;">Good Place: @GoodPlace</div>
    <div style="color:#08BBF9;font-size:300%;text-align:center;font-family:verdana;">Medium Place: @MediumPlace</div>
    <div style="color:#08BBF9;font-size:300%;text-align:center;font-family:verdana;">Bad Place: @BadPlace</div>
    <div style="color:#08BBF9;font-size:300%;text-align:center;font-family:verdana;">Hellhole: @Hellhole</div>
</div>
